# All these are optional if you set the TF_VARS_* values in your environment
aws_account_id = "Your AWS ID here"
route_53_zone = "An existing route 53 zone name"
aws_region = "us-west-1" # Modify this and azs for your desired region
aws_azs = ["us-west-1a", "us-west-1c"]